---
 const personalImageAlt = "Harsh Maheshwari"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I'm a B.Tech student in <strong>Artificial Intelligence & Machine Learning</strong> (CGPA 9.04) 
      at Charotar University of Science & Technology.
    </p>

    <p>
      I specialize in <strong>Computer Vision, NLP, and Generative AI</strong>, and I'm passionate about 
      building data-driven solutions that solve real-world problems. Seeking internship/full-time roles 
      in AI-driven health-tech or e-commerce automation.
    </p>

    <p>
      My recent work includes developing <strong>AI-based face-recognition and anti-spoofing systems</strong>, 
      building image-to-text description generators, and creating computer vision solutions for people 
      detection and crowd counting applications.
    </p>

    <p>
      With a strong foundation in <strong>machine learning and deep learning frameworks</strong> like TensorFlow 
      and PyTorch, I continuously develop my skills to stay at the forefront of AI advancements and apply 
      them to create impactful solutions.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/image.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  >
</article>
